* {
  box-sizing: border-box;
}

.container {
  
  width: 960px;
  height: 960px;
}

.container>div {
  border: 1px solid black;
  height: 25px;
  width: 25px;
}
.grid{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 1px solid #000;
  display: inline-block;
}

